[submodule "thirdparty/lvgl"]
	path = thirdparty/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "thirdparty/lv_drivers"]
	path = thirdparty/lv_drivers
	url = https://github.com/lvgl/lv_drivers
